@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>
        Este projeto foi criado para fins de estudo. Utilizamos C# e ASP.NET para desenvolver<br>
        uma aplicação que cadastra funcionários e seus dependentes em um banco de dados SQLite.
    </p>
    <p>Link do Repositorio do projeto no GitHub</p>
    <a href="https://github.com/joaoPedroDaCunha/MVCprogram.git">https://github.com/joaoPedroDaCunha/MVCprogram.git</a>
</div>
